/* GENERAL */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: #FFF;
}

a {
  text-decoration: none;
  color: #FFF;
}

a:hover {
  color: #555;
}

/* MAIN WRAPPER */

.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Sidebar */

.app__library {
  display: flex;
  flex-grow: 1;
}

/* Playlist */

.app__library__sidebar {
  display: flex;
  flex-direction: column;
  flex-basis: 240px;
}

/* Playlist */

.app__library__sidebar__playlist {
  background: #111;
  flex-grow: 1;
}

/* Account panel */

.app__library__sidebar__account {
  background: #222;
  height: 90px; /* DEBUG: */
}

/* Center library */

.app__library__contents {
  background: #333;
  position: relative;
  flex-grow: 1;
  padding-top: 90px; /* same as app__library__contents__topbar height */
  display: flex;
  overflow-y: auto;
}

/* Topbar upgrade */

.app__library__contents__topbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-image: linear-gradient(rgba(22, 255, 0, .5),rgba(22, 255, 0, .2));
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.app__library__contents__topbar a {
  display: block;
  border: 1px solid #FFF;
  border-radius: 25px;
  padding: 10px 15px;
  margin: 15px;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 700;
}

.app__library__contents__topbar a:hover {
  border-color: #555;
}

/* Player */

.player {
  height: 90px; /* DEBUG: */
  background: #555;
}
