/* GENERAL */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Utilities */

.u--flex {
  display: flex;
}

.u--column {
  flex-direction: column;
}

.u--sp-around {
  justify-content: space-around;
}

.u--sp-between {
  justify-content: space-between;
}

.u--jus-center {
  justify-content: center;
}

.u--it-center {
  align-items: center;
}

.u--relative {
  position: relative;
}

.u--round {
  border-radius: 50%;
}

.u--list-inline {
  display: inline-block;
  list-style: none;
}

.min-w-601{
  display: none;
}

.u--space-bottom {
  margin-bottom: 10px;
}

.u--space-left {
  padding-left: 20px;
}

.icon--size {
  font-size: 50px;
}

/* Typography*/

body {
  font-family: 'Montserrat', sans-serif;
  color: #FFF;
}

a {
  text-decoration: none;
  color: #FFF;
  font-size: 10px;
  text-transform: uppercase;
}

a:hover {
  color: #555;
}

.app__library__contents__albums__item h3 {
  font-size: 14px;
}

.app__library__contents__albums h4 {
  font-size: 12px;
  font-weight: 400;
  color: #555;
}

/* MAIN WRAPPER */

.app {
  width: 100vw;
  height: 100vh;
}

/* Sidebar */

.app__library {
  flex-grow: 1;
}

/* Playlist */

.app__library__sidebar__playlist {
  background: #111;
  flex-grow: 1;
  padding-right: 20px;
}

.app__library__sidebar__playlist a img {
  height: 45px;
  margin: 5px 0px;
}

.app__library__sidebar__playlist__menu-item img,
.app__library__sidebar a{
  width: 20px;
  margin: 10px 15px;
}

.app__library__sidebar__playlist__menu-item {
  border-left: 4px solid transparent;
  opacity: .8;
  transition: border .2s;
  transition: opacity .2s;
}

.app__library__sidebar__playlist__menu-item:hover {
  border-left: 4px solid lime;
  opacity: 1;
}

.app__library__sidebar__playlist__menu-item {
  display: flex;
  align-items: center;

}

.app__library__sidebar__playlist__hideable {
  display: none;
}

/* Account panel */

.app__library__sidebar__account {
  background: #222;
}

.app__library__sidebar__account__img--circle {
  background-color: #555;
  border-radius: 50%;
  max-height: 30px;
  max-width: 30px;
}

.content__wrapper {
  flex-grow: 1;
}

/* Center library */

.app__library__contents {
  background: #333;
  position: absolute;
  height: 100%;
  flex-grow: 1;
  padding-top: 90px; /* same as app__library__contents__topbar height */
  overflow-y: auto;
}

.app__library__contents ul {
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.app__library__contents ul li {
  list-style: none;
  margin: 0 15px auto;
}

.app__library__contents ul li a{
  text-transform: uppercase;
  margin: 0 15px auto;
  border-bottom: 3px solid transparent;
}

.app__library__contents ul li a:hover{
  border-bottom: 3px solid #93c639;
  width: 10px;
}

/* Topbar upgrade */

.app__library__contents__topbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-image: linear-gradient(rgba(22, 255, 0, .5),rgba(22, 255, 0, .2));
  justify-content: flex-end;
  align-items: center;
  z-index: 1;
}

.app__library__contents__topbar a {
  display: block;
  border: 1px solid #FFF;
  border-radius: 25px;
  padding: 10px 15px;
  margin: 15px;
  font-weight: 700;
}

.app__library__contents__topbar a:hover {
  border-color: #555;
}

/* Albums section */

.app__library__contents__albums {
  flex-wrap: wrap;
  justify-content: flex-start;
}

.app__library__contents__albums__item {
  flex-basis: calc(100% / 2);
  text-align: center;
  margin-top: 20px;
}

.app__library__contents__albums__item img{
  display: block;
  margin: auto;
  max-width: 80%;
}

.app__library__contents__albums > h2 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.app__library__contents__albums > h2,
.app__library__contents__albums > h4 {
  flex-basis: 90%;
  margin-left: 5%;
}

/* Player */

.app__player {
  padding: 20px 10px;
  background: #555;
}

.app__player__current__thumbnail {
  width: 50px;
  height: 50px;
}

.bar {
  background: #111;
  height: 4px;
  align-self: center;
  margin: 0 10px;
}

.lenght__bar {
  width: 100px;
}

.output__bar {
  width: 50px;
}

.output__bar::before,
.lenght__bar::before {
  content: " ";
  position: absolute;
  height: 4px;
  width: 27%;
  background: #999;
}

.output__bar:hover::after,
.lenght__bar:hover::after {
  content: " ";
  position: absolute;
  left: 27%; /* Same as pseudoelement's width */
  transform: translateY(-30%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #999;
}

@media (min-width: 601px) {
  .min-w-601{
    display: inline-block;
  }

  .max-w-600{
    display: none;
  }

  .app__library__sidebar__playlist {
    padding-right: 150px;
  }

  .app__library__sidebar__playlist__hideable {
    display: block;
  }
}

@media (min-width: 768px) {

  .app__library__contents__albums__item {
    flex-basis: calc(100% / 4);
  }

  .app__library__contents__albums > h2,
  .app__library__contents__albums > h4 {
    flex-basis: 95%;
    margin-left: 2%;
  }

  .lenght__bar {
    width: 300px;
  }

  .output__bar {
    width: 100px;
  }
}

@media (min-width: 992px) {

  .app__library__contents__albums > h2,
  .app__library__contents__albums > h4 {
    margin-left: 1.5%;
  }

  .app__library__contents__albums__item {
    flex-basis: calc(100% / 6);
  }

  .lenght__bar {
    width: 400px;
  }

  .output__bar {
    width: 200px;
  }
}

@media (min-width: 1200px) {
}
