/* GENERAL */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Utilities */

.u--flex {
  display: flex;
}

.u--column {
  flex-direction: column;
}

.u--sp-around {
  justify-content: space-around;
}

.u--sp-between {
  justify-content: space-between;
}

.u--jus-center {
  justify-content: center;
}

.u--it-center {
  align-items: center;
}

.u--relative {
  position: relative;
}

/* Typography*/

body {
  font-family: 'Montserrat', sans-serif;
  color: #FFF;
}

a {
  text-decoration: none;
  color: #FFF;
  font-size: 10px;
  text-transform: uppercase;
}

a:hover {
  color: #555;
}

/* MAIN WRAPPER */

.app {
  width: 100vw;
  height: 100vh;
}

/* Sidebar */

.app__library {
  flex-grow: 1;
}

/* Playlist */

.app__library__sidebar__playlist {
  background: #111;
  flex-grow: 1;
}

.app__library__sidebar__playlist a {
  display: block;
  width: 30px;
  margin: 5px 10px;
}

.app__library__sidebar a{
  display: block;
  width: 30px;
  margin: 10px 15px;
}

.app__library__sidebar__playlist a img {
  opacity: 0.6;
  transition: opacity 300ms;
}

.app__library__sidebar__playlist a img:hover {
  opacity: 1;
}

/* Account panel */

.app__library__sidebar__account {
  background: #222;
  height: 90px; /* DEBUG: */
}

.app__library__sidebar__account__img--circle {
  background-color: #555;
  border-radius: 50%;
}

/* Center library */

.app__library__contents {
  background: #333;
  flex-grow: 1;
  padding-top: 90px; /* same as app__library__contents__topbar height */
  overflow-y: auto;
}

.app__library__contents ul {
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.app__library__contents ul li {
  list-style: none;
  margin: 0 15px auto;
}

.app__library__contents ul li a{
  text-transform: uppercase;
  margin: 0 15px auto;
  border-bottom: 3px solid transparent;
}

.app__library__contents ul li a:hover{
  border-bottom: 3px solid #93c639;
  width: 10px;
}

/* Topbar upgrade */

.app__library__contents__topbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-image: linear-gradient(rgba(22, 255, 0, .5),rgba(22, 255, 0, .2));
  justify-content: flex-end;
  align-items: center;
}

.app__library__contents__topbar a {
  display: block;
  border: 1px solid #FFF;
  border-radius: 25px;
  padding: 10px 15px;
  margin: 15px;
  font-weight: 700;
}

.app__library__contents__topbar a:hover {
  border-color: #555;
}

/* Albums section */

.app__library__contents__albums {
  justify-content: space-between;
  flex-wrap: wrap;
  flex-basis: 50%;
}

.app__library__contents__albums__item {
}

.app__library__contents__albums__item a{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.app__library__contents__albums h2 {
  width: 100%;
}

/* Player */

.player {
  height: 90px; /* DEBUG: */
  background: #555;
}

@media (min-width: 601px) {
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}
